# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de dependencias de Node.js
node_modules/

# Archivos de dependencias de Python
__pycache__/
*.pyc
*.pyo

# Archivos de entorno de Python
.env
.venv/
venv/

# Archivos de IDEs y editores de código
.vscode/
.idea/

# Archivos de compilación
/dist/
/build/
/out/

# Archivos de configuración de entorno
.env.local
.env.development.local
.env.test.local
.env.production.local
