<div *ngIf="empleado" class="container">
    <h2>Detalles del Empleado</h2>
  
    <div class="card">
      <div class="card-header">
        <h3>{{ empleado.nombre }} {{ empleado.apellido }}</h3>
      </div>
  
      <div class="card-body">
        <p><strong>Email:</strong> {{ empleado.email }}</p>
        <p><strong>Foto:</strong></p>
        <img [src]="empleado.foto" alt="Foto del Empleado" class="img-fluid">
        <p><strong>Fecha de Contratación:</strong> {{ empleado.fechaContratacion | date }}</p>
      </div>
    </div>
  
    <button class="btn btn-primary" (click)="goBack()">Volver</button>
  </div>
  